attr==0.3.2
BeautifulSoup==3.2.2
beautifulsoup4==4.13.4
chardet==5.2.0
ConfigParser==7.2.0
contextlib2==21.6.0
cppyy==3.5.0
cryptography==45.0.6
defusedxml==0.7.1
docutils==0.22
filelock==3.18.0
fonttools==4.57.0
html5lib==1.1
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.7
jnius==1.1.0
keyring==25.6.0
lxml_html_clean==0.4.2
mock==5.2.0
numpy==2.3.2
olefile==0.47
pandas==2.3.1
protobuf==6.31.1
pymupdf_fonts==1.0.5
pyOpenSSL==25.1.0
PyQt6==6.9.1
PySide6==6.9.1
redis==6.4.0
Sphinx==8.2.3
thread==2.0.5
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
